@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../vendor/fonts/Inter-Regular.woff2') format('woff2'),
       url('../../vendor/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../vendor/fonts/Inter-Black.woff2') format('woff2'),
       url('../../vendor/fonts/Inter-Black.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../vendor/fonts/Inter-Medium.woff2') format('woff2'),
       url('../../vendor/fonts/Inter-Medium.woff') format('woff');
}

.app {
  margin: 0 auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.app__container{
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
}
