.card {
  background: #F9F9F9;
}

.elements-grid__item {
  position: relative;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 450px) {
  .elements-grid__item {
    flex-direction: column-reverse;
  }
}

.elements-grid__text {
  margin-left: 20px;
}

@media (max-width: 450px) {
  .elements-grid__text {
    height: 64px;
    margin-left: 13px;
  }
}

.elements-grid__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 9px;
}

@media (max-width: 450px) {
  .elements-grid__title {
    font-size: 12px;
    line-height: 15px;
    margin-top: 14px;
    margin-bottom: 4px;
  }
}

.elements-grid__time {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
}

.elements-grid__like {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 28px;
  width: 14px;
  height: 12px;
  border: none;
  background: none;
  background-image: url(../../../images/likewhite.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

@media (max-width: 450px) {
  .elements-grid__like {
    position: absolute;
    top: 156px;
    right: 17px;
  }
}

.elements-grid__like_active {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 28px;
  width: 14px;
  height: 12px;
  border: none;
  background: none;
  background-image: url(../../../images/likered.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

@media (max-width: 450px) {
  .elements-grid__like_active {
    position: absolute;
    top: 156px;
    right: 17px;
  }
}

.elements-grid__like_delete {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 28px;
  width: 12px;
  height: 10px;
  border: none;
  background: none;
  background-image: url(../../../images/delete.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

@media (max-width: 450px) {
  .elements-grid__like_delete {
    position: absolute;
    top: 156px;
    right: 17px;
  }
}

.elements-grid__img-container {
  height: 134px;
}

@media (max-width: 450px) {
  .elements-grid__img-container {
    height: 168px;
    margin: 0 auto;
  }
}

.elements-grid__image {
  width: 220px;
  height: 122px;
  margin: 6px 6px 6px 0;
}

@media (max-width: 450px) {
  .elements-grid__image {
    height: 168px;
    width: 300px;
    margin: 0;
  }
}
