.myself {
  margin: 0 70px 100px 70px;
}

@media (max-width: 900px) {
  .myself {
    margin: 0 50px 90px 50px;
  }
}

@media (max-width: 400px) {
  .myself {
    margin: 0 14px 69px 14px;
  }
}

.myself__info {
  margin-top: 66px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 327px;
}

@media (max-width: 900px) {
  .myself__info {
    height:307px;
  }
}

@media (max-width: 600px) {
  .myself__info {
    flex-direction: column-reverse;
    margin-top: 60px;
    height: 100%;
  }
}

.myself__text {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1100px) {
  .myself__text {
    padding-right: 49px;
  }
}

@media (max-width: 900px) {
  .myself__text {
    width: 364px;
  }
}

@media (max-width: 600px) {
  .myself__text {
    padding-right: 0px;
  }
}

@media (max-width: 600px) {
  .myself__text {
    width: 292px;
  }
}

.myself__name {
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
}

@media (max-width: 900px) {
  .myself__name {
    font-size: 40px;
    line-height: 40px;
  }
}

@media (max-width: 600px) {
  .myself__name {
    font-size: 30px;
    line-height: 36px;
  }
}

.myself__profile {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

@media (max-width: 900px) {
  .myself__profile {
    margin-top: 16px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 600px) {
  .myself__profile {
    margin-top: 20px;
    font-size: 11px;
    line-height: 16px;
  }
}

.myself__about {
  margin: 0;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 900px) {
  .myself__about {
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .myself__about {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 10px;
  }
}

.myself__link {
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .myself__link {
    margin-top: 0px;
  }
}

.myself__link-git {
  margin-right: 20px;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

@media (max-width: 600px) {
  .myself__link-git {
    margin-right: 20px;
  }
}

.myself__link-git:hover {
  color: #169e55;
}

.myself__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .myself__photo {
    width: 255px;
    height: 307px;
  }
}

@media (max-width: 600px) {
  .myself__photo {
      margin-bottom: 40px;
      width: 292px;
      height: 352px;
  }
}
